.characterPortrait {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  border-right: 2px solid #ccc;
  &:last-child {
    border: 0;
  }

  &__info {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  img {
    height: 18rem;
  }
}
